######################
# Visual Studio Code
######################
.vscode/

######################
# Maven
######################
/log/
/target/

# ######################
# Gradle
######################
/.gradle/
/build/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Gradle Wrapper
######################
!gradle/wrapper/gradle-wrapper.jar

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar

